.root{
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-background-image: url("images/background.png");
    -fx-background-size: cover;
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-border-radius: 20pt;
    -fx-background-radius: 20pt;
}

#header{
    -fx-font-size: 40px;
}

.table-view .column-header .label{
    -fx-text-fill: #332e31;
}